@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

/* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex;
}

/* Create three unequal columns that sits next to each other */
.column {
    padding: 10px;
    
}

/* Left and right column */
.column.side {
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
}

/* Middle column */
.column.middle {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    overflow: hidden;
}

ul {
    list-style-type: none;
    position: fixed;
    z-index: 1;
    top: 190px;
    left: 0px;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {

    background-color: #555;
    color: white;
}

/* Style the footer */
.footer {
    background-color: #aaa;
    color: black;
    padding: 10px;
    text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
}

ul.errorlist {
margin: 0;
padding: 0;
}

.errorlist li {
border: 1px solid red;
color: red;
background: rgba(255, 0, 0, 0.15);
list-style-position: inside;
display: block;
font-size: 1.2em;
margin: 0 0 3px;
padding: 4px 5px;
text-align: center;
border-radius: 3px;
}

input, textarea {
width: 100%;
padding: 5px!important;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
border-radius: 3px;
border-style: solid;
border-width: 1px;
border-color: rgb(169,169,169);

font-size: 16px;
font-size: max(16px, 1em);
font-family: inherit;

}

input {	
height: 18px;
}

.success {
background-color: rgba(0, 128, 0, 0.15);
padding: 10px;
text-align: center;
color: green;
border: 1px solid green;
border-radius: 3px;
}

.required label:after {
content: "*";
}

.quotehdr th {
background-color: #4c4c4c;
color: white;
text-align: center;
padding: 8px 5px;
border: none;
}

.quoterow td {
padding: 5px 10px;
}

.altrow {
background-color: #e0e0e0
}

.quote td:first-child {
background-color: #4c4c4c;
color: white;
text-align: right;
padding: 8px 5px;
border: none;
}

.quote td {
padding: 5px 10px;
}

.center {
  position: fixed;
  z-index: 2;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: 190px;
  /*height: auto;*/
}


/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: absolute;
  left: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  }

@media screen and (max-width: 600px) {
  .video {
    display: none;
  }
}
